.col-sm-3
	button.btn.btn-default(ng-click='User.create()')
		| create user
	.list-group
		a.list-group-item(ng-repeat='user in data.users | orderBy : "created" : true',
			ng-class='data.selectedUser === user ? "active" : ""',
			ng-click='func.selectUser(user)')
			span.glyphicon.glyphicon-user
			| {{user.userId}}
			small(ng-show='user.notes.length > 0') ({{user.notes.length}})
			br
			| {{user.created | date : 'yyyy.MM.dd HH:mm:ss'}}
			button.btn.btn-default(ng-click='User.remove(user)')
				| 삭제
			button.btn.btn-default(ng-click='modal.showJSON(user)')
				| JSON

.col-sm-9
	div(ng-show='data.selectedUser')
		button.btn.btn-default(ng-click='modal.note(data.selectedUser)',
			backup-ng-click='User.addNote(data.selectedUser)')
			| 노트추가	
		.panel.panel-default(ng-repeat='note in data.selectedUser.notes')
			.panel-heading
				button.btn.btn-default(ng-click='User.removeNote(data.selectedUser, note)')
					| 삭제
				button.btn.btn-default(ng-click='User.editNote(data.selectedUser, note)')
					| 수정
				button.btn.btn-default(ng-click='modal.showJSON(note)')
					| JSON
			.panel-body
				h3
					| {{note.title}}

